<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>~/{{ site.title }}/{{ page.title }} </title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon_io/apple-touch-icon.png" | relative_url}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon_io/favicon-32x32.png" | relative_url}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon_io/favicon-16x16.png" | relative_url}}">
    <link rel="manifest" href="{{ "/assets/favicon_io/site.webmanifest" | relative_url}}">
    {% seo %}
  </head>
  <body>
    <header>
      <a href={{ site.url }}><h1>{{ site.title }}.net</h1></a>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
